
.outer-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container {
    padding: 30px 30px;
    display: flex;
    flex: 1;
    margin: 0px 50px;   
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    border-radius: 5px;
    max-width: 400px;
}

span {
    align-self: center;
    font-size: 22px;
    margin-bottom: 20px;
}

button{
    margin-top: 10px;
}