
@mixin custom-theme($theme) {

    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    $border-color: mat-color($foreground, divider);
    $label-color: mat-color($foreground, hint-text);
    $selected-color: "";

    //do theme specific actions.
    @if (map-get($theme, is-dark)) {
        $selected-color: map-get($primary, 600);
    } @else {
        $selected-color: map-get($primary, A100);
    }

    .label {
        color: $label-color !important;
    }

    .border-color {
        border-color:  $border-color !important;
    }

    .selected {
        background-color: $selected-color !important;
    }

    .login-theme-container {
        box-shadow: 1px 1px 10px 2px mat-color($foreground, divider) !important;
        border: 1px solid $border-color !important;
    }
}