<form #courseForm="ngForm" class="container">

  <mat-form-field>
    <input matInput placeholder="Course Name" [(ngModel)]="course.name" name="CourseName" required>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Course Code" [(ngModel)]="course.courseCode" name="CourseCode">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Fees" [(ngModel)]="course.fees" name="CourseFees" required>
  </mat-form-field>

  <button mat-raised-button [disabled]="!courseForm.form.valid" (click)="submitHandler($event)">Submit</button>
</form> 
