
<div class="mat-typography container">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()" *ngIf="authService.isLoggedIn()"><mat-icon>menu</mat-icon> </button>
        <h1 class="app-name">{{title}}</h1>
        
        <div *ngIf="authService.isLoggedIn()">
            <button mat-icon-button (click)="showSetting()"><mat-icon>settings</mat-icon> </button>
            <button mat-icon-button (click)="logout()"><mat-icon>power_settings_new</mat-icon> </button>
        </div>
    </mat-toolbar>


    <mat-sidenav-container fullscreen [style.marginTop.px]="mobileQuery.matches ? 56 : 60" >
        <mat-sidenav class="sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" fixedTopGap="56" [fixedInViewport]="mobileQuery.matches" >
            <mat-nav-list>
                <app-option-item *ngFor="let option of modules" [appModule]="option" (optionSelected)="selectOptionHandler($event)"></app-option-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="nav-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
