@import "~sass/_variables";

.content{
    margin-bottom: 50px;
}

.theme-button {
    margin-right: 10px;
    margin-bottom: 10px;
}

mat-icon{
    height: 36px;
}

.container {
    padding: $router-content-padding;
}